/* стили для главной страницы */

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 10px;
}

.notfound {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    padding-bottom: 100px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.notfound h2 {
    font-size: 60px;
}

.container {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 80px;
}

.textContainer {
    width: 850px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 30px;
}

.listContainer {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 15px;
}

.buttonContainer {
    align-self: center;
}

.button {
    height: 52px;
    width: 350px;
}

.darkness {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}

.modal {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
    border-radius: 8px;
    background: var(--main-color);
}

.modal h1 {
    font-size: var(--font-size-l);
    font-weight: bold;
    margin-bottom: 16px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 10px;
}

.inputContainer input,
.inputContainer select {
    width: 100%;
}

.label {
    font-size: var(--font-size-m);
}

.modalButton {
    height: 52px;
    width: 350px;
    margin-top: 15px;
}

.allStepsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 1100px;
    gap: 20px;
}

.stepContainerLower {
    display: flex;
    align-items: last baseline;
    width: 500px;
    gap: 20px;
}

.stepContainerUpper {
    display: flex;
    align-items: start;
    width: 500px;
    gap: 20px;
}

.blueNumber {
    font-size: 200px;
    font-weight: bold;
    color: var(--blue-color);
}

.pinkNumber {
    font-size: 200px;
    line-height: 150px;
    font-weight: bold;
    color: var(--main-color-contrast);
}

.content {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.pinkTitle {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    color: var(--main-color-contrast);
}

.blueTitle {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    color: var(--blue-color);
}

.description {
    font-size: 16px;
    font-weight: 300;
    width: 300px;
}

.rightAlign {
    text-align: end;
}

.selfRightAlign {
    align-self: self-end;
}

.textDefault {
    width: 800px;
    font-size: 18px;
}

.subtitle {
    margin-top: 50px;
    font-weight: bold;
    font-size: 40px;
}

.textAccent {
    font-size: 26px;
    font-weight: bold;
    color: var(--blue-color);
    text-align: center;
    width: 1100px;
    font-family: var(--font-family-contrast);
    margin-top: 50px;
    margin-bottom: 100px;
}