.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 50px 0 150px 0;
}

.leftContainer{
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 40px;
}

.userContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 20px;
}

.button{
    margin-left: 190px;
    width: 260px;
    height: 52px;
}

.avatar{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    border: solid 1px var(--border-color);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-s);
    background-color: var(--input-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rightContainer{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 30px;
}

.petsContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 700px;
}

.petContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 20px;
    width: 700px;
    flex-wrap: wrap;
}

.placeholer{
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-s);
    color: var(--placeholder-color-light);
}

.empty{
    align-self: center;
}

.darkness {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.modal {
    width: 600px;
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
    border-radius: 8px;
    background: var(--main-color);
    z-index: 200;
}

.modal h1 {
    font-size: var(--font-size-l);
    font-weight: bold;
    margin-bottom: 16px;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 10px;
}

/* .inputContainer input, .inputContainer select {
    width: 100%;
} */

.label{
    font-size: var(--font-size-m);
    margin-left: 3px;
}

.modalButton {
    align-self: center;
    height: 52px;
    width: 350px;
    margin-top: 15px;
}

.avatarPet{
    height: 100px;
    width: 100px;
}

.inputContainerModal{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: self-end;
    justify-content: center;
    column-gap: 30px;
}

.leftContainerModal, .rightContainerModal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    row-gap: 10px;
}

.contactInformation{
    margin-top: 100px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 20px;
    width: 470px;
}

.contactContainer{
    width: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pinkLinkButton{
    border: none;
    margin-bottom: -15px;
}

.vaccinationContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.vaccinationList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 200px;
}

.displayNone{
    display: none;
}

.pinkHeader{
    margin-top: 10px;
    color: var(--blue-color);
    align-self: center;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-m);
}

.deleteButton{
    justify-self: flex-start;
    border: none;
}

.deleteIcon{
    height: 20px;
    width: 20px;
}

.containerWithDelete{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title{
    font-size: var(--font-size-ml);
    font-weight: var(--font-weight-m);
    margin-bottom: 10px;
}

.socialMediaHeader{
    margin-top: 10px;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-m);
}
