.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 50px 0 150px 0;
}

.leftContainer{
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 40px;
}

.userContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 20px;
}

.button{
    width: 260px;
    height: 52px;
}

.avatar{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    border: solid 1px var(--border-color);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-s);
    background-color: var(--input-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rightContainer{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 30px;
}

.petContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    width: 700px;
    flex-wrap: wrap;
}

.placeholer{
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-s);
    color: var(--placeholder-color-light);
}